body{
    font: 16px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    word-wrap: break-word;
    letter-spacing: 0.3px;
    margin: 0;
    overflow: hidden;
}
html, body, #root, .max-ht{
    height: 100%;
}
